<!-- Bootstrap core CSS -->

<nav class="navbar navbar-expand-md navbar-sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse d-flex  justifty-content-between" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ticket"><i class="fas fa-video"></i> Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="location"><i class="fas fa-globe"></i> Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="actor"><i class="fas fa-user"></i> Actors</a>
                </li>
         
            <% if(locals.user){ %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Add
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/ticketsAdd">Add tickets</a></li>
                  <li><a class="dropdown-item" href="/actorsAdd">Add actors</a></li>
                  <li><a class="dropdown-item" href="/locationsAdd">Add locations</a></li>
                </ul>
              </li>
              <% } %>
              <% if(locals.user){ %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Show
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/ticketsDelete">Show tickets</a></li>
                      <li><a class="dropdown-item" href="/actorsDelete">Show actors</a></li>
                      <li><a class="dropdown-item" href="/locationsDelete">Show locations</a></li>
                      <li><a class="dropdown-item" href="/users">Show users</a></li>
                    </ul>
                  </li>
                  <% } %>
                </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <% if(!locals.user){ %>
                    <li class="nav-item ">
                        <a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                    <% } else{ %>

                        <li class="nav-item">
                            <a class="nav-link" href="Admin"><i class="fas fa-user"></i> Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout"><i class="fas fa-sign-in-alt"></i> Logout</a>
                        </li>
                        <% } %>
            </ul>
            




        </div>
    </div>
</nav>