<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
     
    <title>Admin page</title>
</head>
<body>
     <div id="app"class = "topnav"  style="height: 123px; background-color: rgba(51, 0, 0, 0.795);" >
    <a href="actorsadd" class="btn-text">Actors</a>
    <a href="locationsadd" class="btn-text">Locations</a>
    <a href="ticketsadd" class="btn-text">Tickets</a>
</div>
</body>
</html>