
<body>
  <section id="contact">
    <div class="container">
      <h2 class="text-uppercase text-center text-secondary mb-3"> <%= title %></h2>
      <div class="row">
        <div class="col-lg-3 mx-auto">
          <form action="/locations" method="POST">
            <div class="control-group">
              <div class="mb-2 form-floating controls pb-2"><input type="name" required name="country"
                  placeholder="enter the country" style="width: 306px;">
              </div>
              <div class="control-group">
                <div class="mb-2 form-floating controls pb-2"><input type="name" required name="city"
                    placeholder="enter the city" style="width: 306px;">
                </div>
              </div>
              <div class="control-group">
                <div class="mb-0 form-floating controls pb-2"><input type="name" required name="street"
                    placeholder="enter the street" style="width: 306px;"></div>
              </div>

              <div class="control-group">
                <div class="mb-0 form-floating controls pb-2"><input type="name" required name="image"
                    placeholder="enter the image" style="width: 306px;"></div>
              </div>

              <div id="success"></div>
              <div><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" style="width: 306px;">Add
                  new location</button>
              </div>




          </form>