
<% if(locals.user.role=='admin'){ %>

    <div id="app">
        <table id="locationsTable" class="moviestable table-striped table-bordered ticketsTable ">
          <tr>
            <th>Country name</th>
            <th>City name </th>
            <th>Street name </th>
            <th>Image link</th>
          </tr>
          <tr v-for="location in locations2">
            <td>
              <div class="control-group">
                <div class="mb-0 form-floating controls pb-2"><input :form="`update${location._id}`" :value="location.country" type="name" name="country" required
                   style="width: 306px;">
                  </div>
              </div>
            </td>
          <td>
            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"><input :form="`update${location._id}`" :value="location.city" type="name" name="city" required
                 style="width: 306px;">
                </div>
            </div>
          </td>
          <td>
            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"><input :form="`update${location._id}`" :value="location.street" type="name" name="street" required
                 style="width: 306px;">
                </div>
            </div>
          </td>
          <td>
            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"><input :form="`update${locations._id}`" :value="location.image" type="name" name="image" required
                 style="width: 306px;">
                </div>
            </div>
          </td>
      <td>
        <form :action="`locations/delete/${location._id}`" method="post">
          <button type='submit' class="nupp">Delete</button>
        </form>

            <div id="success"></div>
            <div>
              <form :action="`locations/update/${location._id}`" method="POST" :id="`update${location._id}`">
                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit"
                style="width: 306px;">Update</button>    </form>
            </div>

          </td>


      
        </td> 
        </tr>
        </table>
    <% } else{ %>  
      <p>ei ole admin</p>
   <% } %>