
   
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="batman.jpg" class="d-block w-20" alt="...">
          </div>
          <div class="carousel-item">
            <img src="movie.jpg" class="d-block w-20" alt="...">
          </div>
          <div class="carousel-item">
            <img src="topgun.jpg" class="d-block w-20" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <table id="ticketsTable" class="moviestable table-striped table-bordered ticketsTable">
        <tr>
            <th>Film name</th>
            <th>Film cast </th>
            <th>Film price </th>
        </tr>
        <tr v-for="ticket in locations">
            <td @click="getLocation(ticket._id)">{{ticket.name}}</td>
            <td class="ticketcast">{{ticket.cast}}</td>
            <td class="ticketprice ">{{ticket.price}}</td>
            <td>
             <form :action="`tickets/delete/${ticket._id}`" method="post">
              <button type='submit' class="nupp">Delete</button>
          </form>
            </td>
        </tr>
        
    </table>
    

<div class="modal fade modal-sm " id="ticketInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="ticketInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title">Film details<h5>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <div class="modal-body">
          <table>
        <tr>
            <th>ID</th>
            <td>{{InModal.id}}</td>
        </tr>
        <tr>
          <th>NAME</th>
          <td>{{InModal.name}}</td>
        </tr>
        <tr>
           <th>CAST</th>
            <td>{{InModal.cast}}</td>
        </tr>
        <tr>
            <th>PRICE</th>
            <td>{{InModal.price}}</td>
        </tr>
    </table>
    <button type="button bg-dark" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

      
    </div>
    </div>
  </div>
</div>


