
<% if(locals.user.role=='admin'){ %>

    <table id="ticketsTable" class="moviestable table-striped table-bordered ticketsTable">
        <tr>
          <th>Film name</th>
          <th>Film cast </th>
          <th>Film price </th>
          <th>delete </th>
        </tr>
        <tr v-for="ticket in tickets">
          <td @click="getLocation(ticket._id)">{{ticket.name}}</td>
          <td class="ticketcast">{{ticket.cast}}</td>
          <td class="ticketprice ">{{ticket.price}}</td>
          <td>
            <form :action="`tickets/delete/${ticket._id}`" method="post">
              <button type='submit' class="nupp">Delete</button>
            </form>
          </td>
      
        </tr>
      
      </table>
    <% } else{ %>  
      <p>ei ole admin</p>
   <% } %>