


        <html bs-app-theme="dark">

            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
              <title>Add a new ticket</title>
              <link rel="stylesheet" href="https://bootstrapstudio.io/demo//embed//bootstrap/5/freelancer/bootstrap.min.css">
              <link rel="stylesheet" href="css/signup.css">
              <style bs-system-element="" bs-hidden=""></style>
              <style bs-system-element="" bs-hidden=""></style>
            </head>
            
            <body>
              <li><a href="/logout">Log out</a></li>
              <li><a href="/admin">Back to admin page</a></li>
                <section id="contact">
                    <div class="container">
                      <h2 class="text-uppercase text-center text-secondary mb-3">Add a new ticket</h2>
                      <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <form action="/tickets" method="POST">
                            <div class="control-group">
                              <div class="mb-2 form-floating controls pb-2"><input type="name" name="cast" placeholder="enter the cast" style="width: 306px;">
                           </div>
                           <div class="control-group">
                            <div class="mb-2 form-floating controls pb-2"><input type="name" name="name" placeholder="enter the name" style="width: 306px;">
                         </div>
                            </div>
                            <div class="control-group">
                              <div class="mb-0 form-floating controls pb-2"><input type="number" name="price" placeholder ="enter the price" style="width: 306px;"></div>
                            </div>
            
                            <div id="success" ></div>
                            <div><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" style="width: 306px;">Add new tickets</button>
                            </div>

            
                            
            </form>
            
    