

<% if(locals.user.role=='admin'){ %>

  <% users.forEach(function (user) { %>
    
    <div class="container">
        <div class="row">

            <div class="card">
              <div class="card-header">
                <h4 class="card-title" style="color: white;">Users</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Id
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Role
                      </th>
                      <th>
                        Password
                      </th>
                    </thead>
                    <tbody>  
                      <tr>
                        <td>
                          <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2">
                              <p><%= user.id %></p>
                            
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2"><input :form="`update${users._id}`" type="name" name="email" required
                               style="width: 306px;">
                               <h3><%= user.email %></h3> 
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2"><input :form="`update${users._id}`" type="name" name="role" required
                               style="width: 306px;">
                               <h3><%= user.role %></h3> 
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="control-group">
                            <div class="mb-0 form-floating controls pb-2"><input :form="`update${users._id}`" type="password" name="password" required
                               style="width: 306px;">
                               <h3><%= user.password %></h3> 
                              </div>
                          </div>
                          <div id="success"></div>
                          <div>
                            <form :action="`users/update/${user._id}`" method="POST" :id="`update${user.id}`">
                              <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit"
                              style="width: 306px;">Update</button>    </form>
                          </div>
                        </td>
                    
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  </tr>                               
<% }) %>
<% } else{ %>  
  <p>Log in as admin to see this page</p>
<% } %>