

<% if(locals.user.role=='admin'){ %>

  <% users.forEach(function (user) { %>
    
    <div class="container">
        <div class="row">

            <div class="card">
              <div class="card-header">
                <h4 class="card-title" style="color: black;">Users</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Id
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Role
                      </th>
                      <th>
                        Password
                      </th>
                    </thead>
                    <tbody>  
                      <tr>
                        <td>
                          <div class="main-div">
                            <div class="mb-0 form-floating controls pb-2">
                              <p><%= user.id %></p>
                               <form :id="`update${users._id}`" action="/users/update/<%= user.id %>" method="POST">
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="main-div">
                            <div class="mb-0 form-floating controls pb-2"><input required value ="<%= user.email %>" type="name" name="email" 
                               style="width: 306px;">
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="main-div">
                            <div class="mb-0 form-floating controls pb-2"><input required value = "<%= user.role %>" type="name" name="role" 
                               style="width: 306px;">
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="main-div">
                            <div class="mb-0 form-floating controls pb-2"><input required type="password" name="password" 
                               style="width: 306px;">
                              </div>
                          </div>
           
                      
                              <input type="hidden" name="_method" value="PUT">
                              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" type="submit"
                               style="width: 306px;">Update</button>
                             </form>

              
                        </td>
                    
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
                              
<% }) %>
<% } else{ %>  
  <p>Log in as admin to see this page</p>
<% } %>